<!DOCTYPE>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>User Wallet</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="page_holder">
                <div class="page_inner">
                    <div class="logo">
                        <a href="#">LOGO HERE</a>
                    </div>
                    <div class="nav_otr">
                        <div class="signup_link">                	
                            <div class="menu">
                                <ul>
                                    <li><a class="fb_like" href="javascript:void(0);"></a></li>
                                    <li><a class="gl_like" href="javascript:void(0);"></a></li>
                                    <li><a href="#">Sign up</a></li> 
                                    <li><a href="#">Login</a></li>                                                           
                                </ul>
                            </div> 	
                        </div>
                        <div class="menu">
                            <ul>
                                <li><a class="menu_active" href="#">Home</a></li> 
                                <li><a href="#">About</a></li> 
                                <li><a href="#">Buy bitcoins</a></li> 
                                <li><a href="#">Sell bitcoins</a></li> 
                                <li><a href="#">Post a trade</a></li>      
                                <li><a href="#">Forums</a></li> 
                                <li><a href="#">Info<span class="arrow"></span></a></li>
                                <li><a href="#">English<span class="arrow"></span></a></li>                                   
                            </ul>
                        </div>
                    </div>            
                </div>
            </div>
        </header>
        <section id="content" class="cms dashboard">
            <div class="user_dash">
                <div class="page_holder">
                    <div class="page_inner">
                        <div class="user_navi">
                            <ul>
                                <li><a href="javascript:void(0);">Dashboard</a><span class="arrow"></span></li>
                                <li class="active"><a href="javascript:void(0);">Wallet:<span> 0 BTC</span></a><span class="arrow"></span></li>
                                <li><a href="javascript:void(0);">Invite friends</a><span class="arrow"></span></li>
                            </ul>
                        </div>
                        <div class="links_right">
                            <a href="javascript:void(0);" class="enable">Enable two-factor authentication</a>
                        </div>
                    </div>
                </div>    	
            </div>
            <div class="page_holder">
                <div class="page_inner">        	
                    <div class="wallet_section">
                        <div class="send_bitcoin">
                            <div class="send_bitcoin_in">
                                <div class="page_head">
                                    <h5>Send bitcoins</h5>
                                </div>
                                <div class="info_send">
                                    <span>This is your myBitcoins.com bitcoin wallet. </span>
                                    <p>Please note: myBitcoins.com outgoing transactions can have currently issues. Delays can happen when withdrawing bitcoins. We are trying to solve the issue. <a href="javascript:void(0);">Read more here</a></p>
                                    <span>Spendable balance: <strong>0</strong> BTC</span>
                                </div>
                                <div class="banner_form_data">
                                    <div class="formdata">                        	
                                        <form>                            	
                                            <fieldset>
                                                <label>Receiving bitcoin address:</label>
                                                <input type="text" placeholder="Bitcoins address">
                                            </fieldset>
                                            <fieldset>
                                                <label>Amount in bitcoins:</label>
                                                <input type="text" placeholder="0.00000">
                                            </fieldset>
                                            <fieldset>
                                                <label>Your password</label>
                                                <input type="password" placeholder="Password">                                    
                                            </fieldset>
                                            <fieldset>
                                                <span>Please confirm the send with your password</a>
                                            </fieldset>                               
                                            <fieldset class="button">
                                                <div class="bitadvertise">
                                                    <a class="bitbuyadd" href="javascript:void(0);"><span>&nbsp;</span>Send from wallet</a>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <div class="info_send">
                                    <span>After you have sent the bitcoins the transaction appears on the list below</span>
                                    <div class="info_data">
                                        <div class="tabs_slide">
                                            <a class="toggle active" href="javascript:void(0);"><span>&nbsp;</span>How long sending bitcoins takes and how to confirm the transfer?</a>
                                            <div class="tabs_data active">
                                                <p>Please read our short guide about how bitcoin transactions works and how you can confirming when the bitcoin transaction has reached the receiving wallet.</p>
                                            </div>
                                        </div>
                                        <div class="tabs_slide">
                                            <a class="toggle" href="javascript:void(0);"><span>&nbsp;</span>Refund notice</a>
                                            <div class="tabs_data">
                                                <p>Please read our short guide about how bitcoin transactions works and how you can confirming when the bitcoin transaction has reached the receiving wallet.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>                	
                        </div>
                        <div class="send_bitcoin right">
                            <div class="send_bitcoin_in">
                                <div class="page_head">
                                    <h5>Receive bitcoins</h5>
                                </div>
                                <div class="info_send">
                                    <span>Give out the bitcoin address below to receive bitcoins. </span>
                                    <p><a href="javascript:void(0);">1NMFXJorVGFkESRjKnEMSxcgYa99fiAXLP</a></p>                           
                                </div>                        
                                <div class="info_send">                    	
                                    <div class="info_data">
                                        <div class="tabs_slide">
                                            <a class="toggle active" href="javascript:void(0);"><span>&nbsp;</span>New address</a>
                                            <div class="tabs_data active">
                                                <p>Please read our short guide about how bitcoin transactions works and how you can confirming when the bitcoin transaction has reached the receiving wallet.
                                                <div class="bitadvertise">
                                                    <a class="bitbuyadd" href="javascript:void(0);"><span>&nbsp;</span>Create advertisement</a>
                                                </div></p>
                                            </div>
                                        </div>
                                        <div class="tabs_slide">
                                            <a class="toggle" href="javascript:void(0);"><span>&nbsp;</span>Old address</a>                            </div>
                                        <div class="tabs_slide">
                                            <a class="toggle" href="javascript:void(0);"><span>&nbsp;</span>Incoming transaction</a>                            </div>
                                        <div class="tabs_slide">
                                            <a class="toggle" href="javascript:void(0);"><span>&nbsp;</span>How long receiving takes?</a>                            </div>
                                        <div class="tabs_slide">
                                            <a class="toggle" href="javascript:void(0);"><span>&nbsp;</span>Mobile integration</a>                            </div>

                                    </div>
                                </div>
                            </div>                	
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="page_head">
                            <h5>Wallet transactions</h5>
                        </div>
                        <div class="user_advertisement">
                            <table class="wallet_transaction">
                                <tbody>
                                    <tr class="head">
                                        <th></th>
                                        <th class="date_coloum">Date</th>
                                        <th>Received BTC</th>
                                        <th>Sent BTC</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="white_row">
                                        <td></td>
                                        <td></td>
                                        <td>5</td>
                                        <td>4</td>    
                                        <td>asd asd asd asd asd</td>                            
                                    </tr>
                                    <tr class="greay_row">
                                        <td></td>
                                        <td></td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>asd asd asd asd asd</td>                               
                                    </tr>
                                    <tr class="head">
                                        <th></th>
                                        <th class="date_coloum"></th>
                                        <th>Total Received BTC</th>
                                        <th>Total Sent BTC</th>
                                        <th></th>
                                    </tr>
                                    <tr class="greay_row">
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td></td>                               
                                    </tr>                           
                                </tbody>
                            </table>                    
                        </div>
                        <div class="page_head">
                            <h5>Earlier months</h5>
                        </div>       	
                    </div>            
                </div>
            </div>
        </section>

        <footer id="footer">    
            <div class="page_holder">
                <div class="page_inner">
                    <div class="company_footer">
                        <div class="logo_link">
                            <a href="javascript:void(0);"><span>&nbsp;</span>Cryptosi.com</a>
                        </div>
                        <div class="footer_nav">
                            <ul>
                                <li><a href="javascript:void(0);">Login</a></li><span>|</span>
                                <li><a href="javascript:void(0);">Register</a></li><span>|</span>
                                <li><a href="javascript:void(0);">Two-factor reset request </a></li><span>|</span>
                                <li><a href="javascript:void(0);">Fees and charges</a></li><span>|</span>
                                <li><a href="javascript:void(0);">Terms of service</a></li><span>|</span>
                                <li><a href="javascript:void(0);">Privacy Policy</a></li><span>|</span>
                                <li><a href="javascript:void(0);">FAQs</a>
                            </ul>
                        </div>
                        <div class="social_media">
                            <div class="social_links">
                                <ul>
                                    <li><a class="chat" href="javascript:void(0);"><span>&nbsp;</span>Chat</a></li>
                                    <li><a class="facebook" href="javascript:void(0);"><span>&nbsp;</span>Facebook</a></li>
                                    <li><a class="twitter" href="javascript:void(0);"><span>&nbsp;</span>Twitter</a></li>
                                    <li><a class="google_plus" href="javascript:void(0);"><span>&nbsp;</span>Google plus</a></li>
                                    <li><a class="blog" href="javascript:void(0);"><span>&nbsp;</span>Blog</a></li>
                                </ul>
                                <div class="copyright_sect">&copy;2014 <a href="javscript:void(0);">Cryptosi.com</a> all rights reserved.</div>
                            </div>
                            <div class="copyright_sect">Feedback and questions are very welcome to<br/><a href="javascript:void(0);">Our support and contact form</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
