@charset "utf-8";
/* CSS Document */


/*---------------This is reset library we have to insert at the top of css --------------------*/

html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0; font-weight:normal;}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0; outline:none;}address,caption,cite,code,dfn,em,th,var{font-weight:normal}li{list-style:none}caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;/*font-weight:normal*/}
q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}
body{*font-size:small;*font:x-small}select,input,button,textarea{font:99% }table{font-size:inherit;font:100%}pre,code,kbd,samp,tt{font-family:oxygenregular;*font-size:108%;line-height:100%}
a{ text-decoration:none; }
:active{ outline:0 none;}
:focus{ outline:0 none;}
:hover{ outline:0 none;}
div{ font-size:14px; font-weight:normal;}

input[type="text"], input[type="password"] {
    width:100%;
    border:1px solid #cccccc;
    height:40px;
    border-radius:5px;
    padding:5px 0 5px 10px;
}
input[type="text"]:focus, input[type="password"]:focus {
    box-shadow:0 0 3px #6188da;
}

/*-------------------------------style starts here--------------------------------------------*/
/*---------------------browser text section color code----------------*/

::-moz-selection {
    background: #d7e5e6 ; /* Firefox */
}
::-o-selection {
    background: #d7e5e6 ; /* opera */
}
::-webkit-selection {
    background: #d7e5e6 ; /* crome */
}

::selection {
    background: #d7e5e6 ; /* Safari */
}
/*---------------------browser text section color code----------------*/

/*---------------------font-faces code----------------*/
@font-face {
    font-family: 'abeezeeregular';
    src: url('abeezee-regular.eot');
    src: url('font/abeezee/abeezee-regular.eot?#iefix') format('embedded-opentype'),
        url('font/abeezee/abeezee-regular.woff') format('woff'),
        url('font/abeezee/abeezee-regular.ttf') format('truetype'),
        url('font/abeezee/abeezee-regular.svg#abeezeeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*---------------------font-faces code----------------*/
body{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    color:#343331;
    background:#fafaf5;
}
/*------Header css starts here------------*/
.page_holder{
    width:990px;
    margin:0 auto;	
}
.page_inner{
    width:100%;
    display:inline-block;
}
header{
    width:100%;
    display:inline-block;
    background:url(../images/header_blue_bg.png) left bottom repeat-x #4065be;
    min-height:54px;
    border-bottom:1px solid #04102d;
    text-align:left;
}
.logo{
    width:17%;
    display:inline-block;
    vertical-align:top;
    padding:12px 0 0 0;
}
.logo a{
    font-size:25px;
    color:#fff;
}
.nav_otr {
    padding: 8px 0 0;
    float:right;
    width:64%;
}
.login{
    border-left:1px solid #A6A6A6;
    padding:0 0 5px 20px;
}
.menu {
    margin: 10px 0 5px 0;
    text-align:right;
    float:right;
}
.signup_link .menu {
    margin:0;
}
.menu ul{
    width:auto;
    display:inline-block;
}
.menu ul li{
    float:left;
    margin:0 0 0 20px;
}
.menu ul li a{
    font-size:14px;
    color:#c6c6c6;
    transition:all ease 0.8s 0s;
    font-family: 'abeezeeregular';
    text-shadow:0 1px 1px #000000;
}
.menu ul li span.arrow {
    width:8px;
    height:5px;
    background:url(../images/spritesheet.png) left top no-repeat;
    display:inline-block;
    margin:0 0 0 5px;
}
.menu ul li a:hover{
    color:#6891f1 !important;
}
.menu ul li a:active{
    color:#6891f1 !important;
}
.menu_active{
    color:#6891f1 !important;
}
.signup_link {
    float:right;
}
.fb_like {
    width:42px;
    height:18px;
    display:inline-block;
    vertical-align:top;
    background:url(../images/spritesheet.png) left -208px no-repeat;
}
.gl_like {
    width:27px;
    height:17px;
    display:inline-block;
    vertical-align:top;
    background:url(../images/spritesheet.png) left -226px no-repeat;
}
/*------Header css ends here------------*/
/*-------------BANNER CSS -------------05-01-14---*/
#banner {
    width:100%;
    height:490px;
    background:url(../images/banner_bg.png) top center no-repeat #ffffff;
}
#banner .page_inner {
    text-align:left;
}
.banner_left {
    width:59%;
    display:inline-block;
    vertical-align:top;
}
.banner_text_img {
    width:98%;
    display:inline-block;
    vertical-align:top;
    margin:40px 0 0 10px;
}
.banner_text {
    width:98%;
    display:inline-block;
    vertical-align:top;
    padding:50px 0 50 10px;
}
.banner_text h4 {
    font-size:30px;
    color:#01050e;
    font-family: 'abeezeeregular';
}
.banner_text h5 {
    font-size:18px;
    color:#3e63b5;
    font-family: 'abeezeeregular';
    margin-top:5px;
}
.banner_signup {
    width:273px;
    height:55px;
    background:url(../images/spritesheet.png) left -5px no-repeat;
    display:inline-block;	
}
.banner_signup:hover {
    background:url(../images/spritesheet.png) left -60px no-repeat;
}
.banner_signup a {
    font-size:24px;
    color:#fff;
    display:inline-block;
    vertical-align:top;
    margin:12px 0 0 85px;
}
.banner_signup:hover a {
    color:#738cde;
}
.banner_right {
    width:40.5%;
    display:inline-block;
    vertical-align:top;
}
.banner_form {
    width:100%;
    display:inline-block;
    margin:30px 0 0 0;
}
.banner_form_top {
    background:url(../images/form_top.png) left top no-repeat;
    width:400px;
    height:7px;
    display:inline-block;
    display:block\0/;
    vertical-align:top;
}
.banner_form_data {
    width:398px;
    height:auto;
    border: 1px solid #cdcdcd;
    background:#f8f8f8;
    border-radius:3px;
    display:inline-block;
    display:block\0/;
    vertical-align:top;
}
.banner_form_shadow {
    width:400px;
    background:url(../images/form_shadow.png) left top no-repeat;
    height:6px;
    display:inline-block;
    display:block\0/;
}
.banner_form .formdata {
    width:92%;
    padding:4%;
    display:inline-block;
    display:block\0/;
}
.formdata fieldset {
    margin-bottom:10px;
}
.formdata fieldset label {
    font-size:16px;
    color:#3a5ba9;
    width:100%;
    display:inline-block;
    margin:0 0 5px 0;
}
.formdata fieldset input[type='text'], .formdata fieldset select{
    width:100%;
    background:#f0f0f0;
    border:1px solid #c6c6c6;
    padding:7px 5px;
    border-radius:3px;
    height:32px;
}
.formdata fieldset input.amount {
    width:70%;
}
.formdata fieldset select.curncy {
    width:28%;
}
.formdata fieldset.button {
    text-align:center;
    margin:10px 0 0 0;
    display:inline-block;
    vertical-align:top;
    width:100%;
}
fieldset.button input[type='submit'] {
    border:2px solid #d5d5d5;
    background:#000;
    padding:6px 10px;
    color:#fff;
    font-size:20px;
    border-radius:5px;
    cursor:pointer;
    transition:all 300ms linear ;
}
fieldset.button input[type='submit']:hover {
    background:#183e98;
    text-shadow:0 1px 1px #006;
}
/*-------------BANNER CSS -------------05-01-14---*/
/*-------------INFO SECTION CSS -------------05-01-14---*/
#comInfo {
    width:100%;
    min-height:380px;
    background:#3760b5;
}
#comInfo .page_holder, #comInfo .page_inner {
    position:relative;
}
.company_guide {
    position:absolute;
    width:100%;
    top:-47px;
    top:-60px\0/;
}
.guide_sec {
    width:31.7%;
    margin-right:2%;
    display:inline-block;
    vertical-align:top;
}
.last {
    margin-right:0 !important;
}
.guide_head {
    width:310px;
    height:93px;
    display:inline-block;
    vertical-align:top;
    background:url(../images/spritesheet.png) left -115px no-repeat;
}
.guide_head span {
    font-size:25px;
    color:#000;
    font-family: 'abeezeeregular';
    margin:30px 0 0 0;
    display:inline-block;
}
.guide_data {
    width:100%;
    display:inline-block;
    vertical-align:top;
}
.guide_data h4 {
    font-size:22px;
    color:#96b5fa;
    font-family: 'abeezeeregular';
    margin:5px 0;
}
.guide_data p {
    color:#000;
    line-height:20px;
    font-size:13px;
}
.guide_adv {
    width:100%;
    display:inline-block;
    vertical-align:top;
    margin-top:50px;
}
.guide_adv .adv_sec {
    display:inline-block;
    vertical-align:top;
    width:49%;
    margin:0 10px 0 0;
}
/*-------------INFO SECTION CSS -------------05-01-14---*/
/*-------------CHANGE LOCATION SECTION CSS -------------05-01-14---*/
#change_location {
    width:100%;
    display:inline-block;
    background:url(../images/change_loc_bg.png) left top repeat;
    padding:15px 0;
}
.chng_loctn {
    margin:5px 0;	
}
.chng_loctn fieldset label {
    color:#666;
    font-size:25px;
    margin:0 5px 0 0;
    font-family: 'abeezeeregular';
}
.chng_loctn fieldset input[type="text"] {
    width:50%;
}
/*-------------CHANGE LOCATION SECTION CSS -------------05-01-14---*/
/*-------------MIDDLE SECTION CSS -------------05-01-14---*/
#content {
    width:100%;
    display:inline-block;
    vertical-align:top;
    padding:30px 0 10px 0;
}
.bitcoins {
    width:100%;
    display:inline-block;
    vertical-align:top;
    border-bottom:1px dashed #a1a1a1;
    margin-bottom:20px;
}
.bitcoins_head {
    text-align:left;
    padding:0 0 10px 0;
    display:inline-block;
    width:100%;
}
.bitcoins_head h1 {
    color:#406cd0;
    font-size:25px;
    width:60%;
    display:inline-block;
    vertical-align:top;
    text-align:left;
    font-family: 'abeezeeregular';
}
.bitcoins_head a {
    width:39%;
    display:inline-block;
    text-align:right;
    font-size:14px;
    line-height:30px;
    color:#3455a4;
}
.bitcoins_head a:hover {
    text-decoration:underline;
}
.bitbuyer span {
    width:10px;
    height:7px;
    background:url(../images/spritesheet.png) -273px top no-repeat;
    display:inline-block;
    margin:13px 0 0 3px;
    vertical-align:top;
}
.locatebuyer span {
    width:8px;
    height:14px;
    background:url(../images/spritesheet.png) -309px top no-repeat;
    display:inline-block;
    margin:9px 0 0 3px;
    vertical-align:top;
}
.current_bitcoin {
    width:100%;
    display:inline-block;
    vertical-align:top;
}
.current_bitcoin table {
    width:100%;
    margin:0 0 20px 0;
}
.current_bitcoin table tr.head {
    background:#393939;
    border-radius:5px 5px 0 0;
    height:35px;
    /*display:block;*/
}
.current_bitcoin table tr.head th {
    padding:0 0 0 1%;
    color:#fff;
    line-height:35px;
    font-family: 'abeezeeregular';
    font-size:16px;
    /*display:inline-block;*/
    vertical-align:top;
}
th.seller_name, th.describe, th.pay_methods,td.seller_name, td.describe, td.pay_methods {
    width:18%;
} 
th.price_btc, th.limits, td.price_btc, td.limits {
    width:14%;
}
th.button_buy, td.button_buy {
    width:9%;
}
td.button_buy {
    background:url(../images/tr_buy_divider.png) left center no-repeat;
}
.current_bitcoin table tr td {
    padding:0 0 0 1%;
    color:#0d0d0d;
    line-height:35px;
    font-size:14px;
    /*display:inline-block;*/
    vertical-align:top;
}
table tr.white_row {
    margin:10px 0;
    /*display:block;*/
}
table tr.white_row td {
    padding:10px 0 10px 1%;
}
table tr.greay_row {
    background:#e8ecf1;
}
.actbuy span {
    width:13px;
    height:11px;
    /*background:url(../images/spritesheet.png) -296px top no-repeat;*/
    display:inline-block;
    margin:13px 8px 0 3px;
    vertical-align:top;
}
.actsell span {
    width:13px;
    height:12px;
    /*background:url(../images/spritesheet.png) -283px top no-repeat;*/
    display:inline-block;
    margin:13px 8px 0 3px;
    vertical-align:top;
}
.actbuy, .actsell {
    width:100%;
    display:inline-block;
    text-align:left;
    font-size:14px;
    line-height:35px;
    color:#3455a4;
}
.actbuy:hover, .actsell:hover {
    text-decoration:underline;
}
/*-------------MIDDLE SECTION CSS -------------05-01-14---*/
/*-------------FOOTER SECTION CSS -------------05-01-14---*/
#footer {
    background:url(../images/footer_top_line.png) left top repeat-x #f4f4f4;
    width:100%;
    display:inline-block;
}
.footer_top {
    width:100%;
    display:inline-block;
    vertical-align:top;
}
.footer_left {
    width:50%;
    display:inline-block;
    vertical-align:top;
    text-align:right;
}
.footer_right {
    width:49.7%;
    display:inline-block;
    vertical-align:top;
    text-align:left;
    min-height:200px;
    background:url(../images/footer_top_line.png) left top repeat-x #efefef;
}
.footer_left_in {
    width:490px;
    float:right;
    text-align:left;
}
.footer_right_in {
    width:460px;
    float:left;
    text-align:left;
    padding:0 0 0 30px;

}
.latest_update {
    width:100%;
    display:inline-block;
    vertical-align:top;
    margin:20px 0 0 0;
}
.latest_update_head {
    padding:15px 0;
    width:100%;
    display:inline-block;
    text-align:center;
    background:url(../images/footer_head_bg.png) bottom center no-repeat;
    font-family: 'abeezeeregular';
    font-size:22px;
    color:#3366cc;
}
.latest_update_head .rss {
    width:25px;
    height:25px;
    display:inline-block;
    vertical-align:top;
    background:url(../images/spritesheet.png) -317px top no-repeat;
    margin:2px 0 0 10px;
}
.latest_update_data {
    width:100%;
    display:inline-block;
    vertical-align:top;
    margin:20px 0 20px 0;
}
.latest_update_content {
    width:100%;
    display:inline-block;
    vertical-align:top;	
    font-family: 'abeezeeregular';
    color:#666666;
    margin:0 0 10px 0;
}
.content_text {
    width:70%;
    display:inline-block;
    vertical-align:top;
    line-height:30px;
}
.content_time {
    width:29%;
    display:inline-block;
    vertical-align:top;
    line-height:30px;
}
.left_footer {
    width:50%;
    text-align:right;
    background:#2a4ea3;
    height:50px;
    display:inline-block;
    vertical-align:top;
}
.right_footer {
    width:49.7%;
    text-align:left;
    background:#1d356f;
    height:50px;
    position:relative;
    left:-4px;
    display:inline-block;
    vertical-align:top;
}
.find_links {
    color:#fff;
    font-size:20px;
    display:inline-block;
    text-align:center;
    width:100%;
    padding:10px 0;
}
.find_links:hover {
    color:#9fb8f4;
}
.find_links span {
    text-decoration:underline;
    color:#5177d4;
}
.find_links:hover span {
    color:#9fb8f4;
}
.company_footer {
    width:100%;
    display:inline-block;
    vertical-align:top;
    text-align:left;
    padding:10px 0;
    margin:20px 0 0 0;
}
.logo_link {
    display:inline-block;
    width:auto;
    margin:0 10px 0 0;
    vertical-align:top;
}
.logo_link a {
    color:#2a4ea3;
    font-size:22px;
    font-family: 'abeezeeregular';
}
.logo_link a:hover {
    text-decoration:underline;
}
.logo_link a span {
    width:10px;
    height:30px;
    background:#2a4ea3;
    display:inline-block;
    vertical-align:top;
    margin:0 10px 0 0;
}
.footer_nav {
    display: inline-block;
    width:auto;
    vertical-align:top;
}
.footer_nav ul {
    list-style-type:none;
}
.footer_nav ul li {
    width:auto;
    display:inline-block;
    vertical-align:top;
    padding:0 10px;
}
.footer_nav ul span {
    display:inline-block;
    font-size:11px;
    line-height:30px;
}
.footer_nav ul li a {
    font-size:13px;
    color:#323131;
    line-height:30px;
    display:inline-block;
}
.footer_nav ul li a:hover {
    color:#000;
    text-decoration:underline;
}
.social_media {
    width:100%;
    display:inline-block;
    vertical-align:top;
    padding:10px 0;
}
.social_links {
    width:auto;
    display:inline-block;
    vertical-align:top;
}
.social_links ul {
    list-style-type:none;
}
.social_links ul li {
    display:inline-block;
    vertical-align:top;
    width:auto;
    padding:0 10px 0 0;
}
.social_links ul li a {
    display:inline-block;
    vertical-align:top;
    line-height:30px;
    color:2a4ea3;
    font-size:13px;
}
.social_links ul li a:hover {
    text-decoration:underline;
}
.chat span{
    width:15px;
    height:14px;
    display:inline-block;
    vertical-align:top;
    background:url(../images/spritesheet.png) -342px top no-repeat;
    margin:10px 5px 0 0;
}
.facebook span{
    width:7px;
    height:15px;
    display:inline-block;
    vertical-align:top;
    background:url(../images/spritesheet.png) -357px top no-repeat;
    margin:8px 5px 0 0;
}
.twitter span{
    width:14px;
    height:11px;
    display:inline-block;
    vertical-align:top;
    background:url(../images/spritesheet.png) -364px top no-repeat;
    margin:10px 5px 0 0;
}
.google_plus span{
    width:15px;
    height:14px;
    display:inline-block;
    vertical-align:top;
    background:url(../images/spritesheet.png) -378px top no-repeat;
    margin:10px 5px 0 0;
}
.blog span{
    width:12px;
    height:12px;
    display:inline-block;
    vertical-align:top;
    background:url(../images/spritesheet.png) -393px top no-repeat;
    margin:10px 5px 0 0;
}
.reddit span{
    width:15px;
    height:14px;
    display:inline-block;
    vertical-align:top;
    background:url(../images/spritesheet.png) -405px top no-repeat;
    margin:10px 5px 0 0;
}
.copyright_sect {
    color: #9B9B9B;
    display: inline-block;
    width: auto;
    float:right;
    line-height:18px;
    text-align:right;
}
.copyright_sect a {
    color: #1d356f;
    display: inline;
    text-decoration: underline;
    font-size:13px;
}
.copyright_sect a:hover {
    color:#9b9b9b;
}
.social_links .copyright_sect {
    float:left;
}
/*-------------FOOTER SECTION CSS -------------05-01-14---*/
/*-------------LOGIN PAG CSS -------------06-01-14---*/
.login_form {
    width:41%;
    margin:0 auto;
}
.login_form .banner_right {
    width:100%;
    text-align:left;
}
.login_form .banner_form {
    margin:0;
}
.login_form .page_head {
    padding:0 0 10px 0;
    width:100%;
    display:inline-block;
    text-align:center;
    background:url(../images/footer_head_bg.png) bottom center no-repeat;
    font-family: 'abeezeeregular';
    font-size:30px;
    color:#3366cc;
    margin:0 0 20px 0;
}
.login_form .formdata fieldset input[type="text"], .login_form .formdata fieldset select {
    height:40px;
    background:#fff;
}
.login_form .formdata fieldset a {
    color:#1d356f;
}
.login_form .formdata fieldset a:hover {
    color:#9b9b9b;
}
.formdata fieldset input[type="checkbox"]{
    margin:0 10px 0 0;
}
/*-------------LOGIN PAG CSS -------------06-01-14---*/
/*-------------CMS PAGES CSS -------------06-01-14---*/
.cms .page_head {
    padding:0 0 5px 0;
    width:100%;
    display:inline-block;
    text-align:left;
    font-family: 'abeezeeregular';
    border-bottom:1px solid #666;
    font-size:30px;
    color:#3366cc;
    margin:0 0 10px 0;
}
.cms .wrapper {
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 1%;
    width: 98%;
    display:inline-block;
    vertical-align:top;
    text-align:left;
}
.cms .wrapper h1, .cms .wrapper h2, .cms .wrapper h3, .cms .wrapper h4 {
    font-size:24px;
    color:#707070;
    margin:0 0 10px 0;
}
.cms .wrapper p {
    line-height:20px;
    color:#323232;
    font-size:13px;
    margin-bottom:10px;
}
/*-------------CMS PAGES CSS -------------06-01-14---*/
/*-------------DASHBOARD PAGES CSS --------07-02-14---*/
.dashboard {}
.dashboard .page_head {
    margin:0;
}
.dashboard .page_head h2 {
    width:auto;
    display:inline-block;
}
.dashbord_nav {
    width:auto;
    display:inline-block;
    vertical-align:top;
    float:right;
}
.dashbord_nav li {
    display:inline-block;
    vertical-align:top;
    margin:0 10px 0 0;
    line-height:35px;
    border-radius:5px;
}
.dashbord_nav li.active {
    background:#3760b5;
}
.dashbord_nav li a {
    padding:0 10px;
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    color:#707070;
}
.dashbord_nav li a:hover {
    color:#3760b5;
}
.dashbord_nav li.active a {
    color:#fff;
}
#content.dashboard {
    padding:0 0 10px 0;
}
.user_dash {
    width:100%;
    display:inline-block;
    min-height:50px;
    margin:0 0 20px 0;
    box-shadow: 0 1px 2px 0 #bbb;
    background:#efefef;
    text-align:left;
}
.user_navi {
    width:auto;
    display:inline-block;
    vertical-align:top;
}
.user_navi li {
    display:inline-block;
    vertical-align:top;
    line-height:50px;	
}
.user_navi li a, .links_right a {
    padding:0 10px;
    display:inline-block;
    vertical-align:top;
    font-size:14px;
    color:#000;
    font-weight:bold;
}
.user_navi li a:hover, .links_right a:hover {
    color:#3760b5;
}
.user_navi li.active {
    background:#a0a7af;
    height:50px;
}
.user_navi li span.arrow {
    display:none;
}
.user_navi li.active span.arrow {
    display:inline-block;
    vertical-align:top;
    position:relative;
    z-index:1;
    width:100%;
    height:8px;
    background:url(../images/active_down_arrow.png) center top no-repeat;
}
.user_navi li.active a {
    color:#fff;
}
.links_right {
    width:auto;
    float:right;
    line-height:50px;	
}
.bitcoin_form {
    width:100%;
    display:inline-block;
    vertical-align:top;
    margin:0 0 10px 0;
}
.bitcoin_form .banner_form_data {
    width:96%;
    display:inline-block;
    padding:15px;
    margin:0 0 15px 0;
}
.bitcoin_form fieldset {
    width:49.7%;
    display:inline-block;
    text-align:left;
    vertical-align:top;
}
.bitcoin_form .formdata {
    width:100%;
    display:inline-blcok;
}
.bitcoin_form .formdata form {
    display:inline-block;
    width:100%;
    text-align:left;
}
.bitcoin_form fieldset label {
    width:27%;
} 
.bitcoin_form .formdata fieldset input[type="text"], .bitcoin_form .formdata fieldset select {
    width:68%;
}
.bitcoin_form .formdata fieldset input.amount {
    width:50%;
}
.bitcoin_form .formdata fieldset select.curncy {
    width:20%;
    vertical-align:top;
}
.bitcoin_form .formdata fieldset.button {
    width:auto;
    margin:0;
}
.bitcoin_form .formdata fieldset.button input {
    padding:3px 10px;
    font-size:16px;
}
.selct_radio {
    width:100%;
    display:inline-block;
    vertical-align:top;
    padding:0 5px 5px 5px;
    margin-bottom:10px;
    border-bottom:1px solid #e6e6e6;
}
.selct_radio span {
    font-weight:bold;
}
.user_advertisement {
    width:100%;
    display:inline-block;
    vertical-align:top;
}
.user_advertisement table {
    width:100%;
    margin-bottom:10px;
}
.dashboard .wrapper .page_head h5 {
    font-size:22px;
}
.dashboard .wrapper .page_head {
    border-bottom:1px solid #e6e6e6;
    margin-bottom:10px;
}
.user_advertisement table tr {
    line-height:26px;
}
.user_advertisement table th, .user_advertisement table td {
    padding:4px 7px;
}
.user_advertisement table th {
    font-weight:bold;
    color:#fff;
}
.user_advertisement table td a {
    color:#738cde;
}
.user_advertisement table td a.red_link {
    color:#ff0909;
}
.user_advertisement table td a:hover {
    color:#707070;
    text-decoration:underline;
}
.user_advertisement table .head {
    background:#2c2c2c;
}
.actedit span {
    width:12px;
    height:12px;
    background:url(../images/spritesheet.png) -273px -12px no-repeat;
    display:inline-block;
    margin:11px 8px 0 3px;
    vertical-align:top;
}
.bitbuyadd {
    width:auto;
    background:#f0f0f0;
    border:1px solid #c7c7c7;
    padding:0 5px;
    display:inline-block;
    vertical-align:top;
    color:#3455a4;
    line-height:30px;
    border-radius:5px;
}
.bitbuyadd:hover {
    background:#e4e4e4;
}
.bitbuyadd span {
    width:12px;
    height:12px;
    background:url(../images/spritesheet.png) -285px -12px no-repeat;
    display:inline-block;
    margin:11px 8px 0 3px;
    vertical-align:top;
}
.actedit {
    width:100%;
    display:inline-block;
    text-align:left;
    font-size:14px;
    line-height:35px;
    color:#3455a4;
}
.user_advertisement table .button_buy {
    background:url(../images/tr_buy_divider.png) left center no-repeat;
}
.bitadvertise {
    width:100%;
    text-align:right;
    display:inline-block;
    padding:5px 0;
}
/*-------------DASHBOARD PAGES CSS --------07-02-14---*/
/*-------------WALLET SECTION PAGES CSS --------10-02-14---*/
.wallet_section {
    width:100%;
    display:inline-block;
    vertical-align:top;
    margin:0 0 20px 0;
    text-align:left;
}
.send_bitcoin {
    width:48%;
    display:inline-block;
    vertical-align:top;
}
.send_bitcoin_in {
    width:98%;
    padding:2%;
    display:inline-block;
    vertical-align:top;
    background:#f8f8f8;
    border-radius:5px;
    border:1px solid #cdcdcd;
}
/*-------------WALLET SECTION PAGES CSS --------10-02-14---*/